<% if logged_in? %>
  <div class="row">
    <aside class="col-md-4">
      <section class="user_info">
        <%= render 'shared/user_info' %>
      </section>
      <section class="stats">
        <%= render 'shared/stats' %>
      </section>
      <section class="micropost_form">
        <%= render 'shared/micropost_form' %>
      </section>
    </aside>
    <div class="col-md-8">
      <h3>最新の投稿</h3>
      <%= render 'shared/feed' %>
    </div>
  </div>
<% else %>
  <div class="big-bg">
    <div class="center explain">
      <h1>Welcome to SAGROUP !</h1>
      <p>SAGROUPはオンラインゲームのギルドやパーティを募集・検索するサイトです。</p>
      <p>あなたにあったギルド・パーティーを見つけましょう。</p>
      <%= link_to "今すぐはじめる", signup_path, class: "btn-circle" %>
    </div>
  </div>
  <div class="center kanji ">
    <h1>掲示板の最新投稿</h1>
  </div>
  <ul class="microposts">
    <%= render @microposts %>
    <%= will_paginate @microposts, :previous_label => ' &lt 前へ', :next_label => '次へ &gt' %>
  </ul>

<% end %>
