<% if logged_in? %>
  <div class="row">
    <aside class="col-md-4">
      <section class="user_info">
        <%= render 'shared/user_info' %>
      </section>
      <section class="stats">
        <%= render 'shared/stats' %>
      </section>
      <section class="micropost_form">
        <%= render 'shared/micropost_form' %>
      </section>
    </aside>
    <div class="col-md-8">
      <h3>最新の投稿</h3>
      <%= render 'shared/feed' %>
    </div>
  </div>
<% else %>
  <div class="big-bg">
    <div class="center explain">
      <h1>Welcome to SAGROUP !</h1>
      <p>SAGROUPはオンラインゲームのギルドやパーティを募集・検索するサイトです。</p>
      <p>あなたにあったギルド・パーティーを見つけましょう。</p>
      <ul class="home-btns">
        <li><%= link_to "掲示板を見る", search_microposts_path , class: "btn-circle"%></li>
        <li><%= link_to "今すぐはじめる", signup_path, class: "btn-circle" %></li>
        <li><%= link_to "SAGROUPとは？", about_path, class: "btn-circle" %></li>
    </ul>
    </div>
  </div>
  <div class="center kanji ">
    <h1>掲示板の最新投稿</h1>
  </div>
  <ul class="microposts">
  <%= will_paginate @microposts, :previous_label => ' &lt 前へ', :next_label => '次へ &gt' %>
    <%= render @microposts %>
    
  </ul>
  

  <div class="big-bg-together">
    <div class="center explain">
      <h1>さっそく始めよう</h1>
      <p>自分にピッタリのギルドがすぐそこにあります</p>
        <%= link_to "今すぐはじめる", signup_path, class: "btn-circle-3d" %>
    </div>
  </div>

<% end %>
