<div class="row">
  <div class="col-md-12">
    <div class="container-fluid center">
      <h1>メッセージ</h1>
    </div>
  </div>
</div>

<ul class="microposts">
  <%= render @messages %>
</ul>

  <div class="microposts">
    <%= form_for @message do |f| %>
      <%= f.text_area :content, placeholder: "メッセージを入力して下さい" , size: 70, class:"field" %>
        <%= f.hidden_field :room_id, value: @room.id %>
          <%= f.submit "送信する",class: 'btn btn-primary'%>
    <% end %>
  </div>