<div class="row">
  <div class="col-md-12">
    <div class="container-fluid center">
      <h1>ゲーム名から検索する</h1>
      <%= form_with url: search_microposts_path, method: :get, local: true do |f| %>
        <%= f.text_field :game_category, placeholder: "ゲーム名を入力してください… (〇〇を含むゲーム名を検索)" %>
        <%= f.submit "検索する", class: "btn btn-primary mb-5 shita" %>
      <% end %>
    </div>
  </div>
</div>

<ul class="microposts">
  <%= render @microposts %>
  <%= will_paginate @microposts, :previous_label => ' &lt 前へ', :next_label => '次へ &gt' %>
</ul>