<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container-fluid">
    <%= link_to root_path, id: "logo" do %>
      <i class="fab fa-reddit-alien"></i>
      sagroup
    <% end %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        
        <li><%= link_to "", help_path, class:"orange-btn" %></li>
        <% if logged_in? %>
          <li><%= link_to "掲示板", root_path, class:"orange-btn" %></li>
          <li><%= link_to "", users_path, class:"orange-btn" %></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <span style="color:white;"><%= current_user.name %></span><b class="caret orange-btn"></b>
            </a>
            <ul class="dropdown-menu">
              <li><%= link_to "マイページ", current_user %></li>
              <li><%= link_to "編集", edit_user_path(current_user) %></li>
              <li class="divider"></li>
              <li>
                <%= link_to "ログアウト", logout_path, method: :delete %>
              </li>
            </ul>
          </li>
        <% else %>
          <li><%= link_to "ホーム", root_path, class:"orange-btn" %></li>
          <li><%= link_to "新規登録", signup_path, class:"orange-btn" %></li>
          <li><%= link_to "ログイン", login_path,  class:"orange-btn" %></li>
        <% end %>
      </ul>
    </nav>
  </div>
</header>